{% extends "layout.html" %}

{% block content %}
{#
<html>
    <head>
        <title>Hello world!</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>#}
        <h1>Haruhi Suzumiya's personal page</h1>
        <hr>
        <p>
            Hello, world! I'm a high school girl from Nishinomiya and
            president of the SOS Brigade club. I'm calling all aliens,
            espers and time travellers to please contact me at
            <a href="mailto:haruhi.suzumiya@yahoo.jp">haruhi.suzumiya@yahoo.jp</a>.
            Any help is appreciated!
        </p>
        <hr>
        <i>
            Do you like my website? I know you do, please fill my
            <a href="/guestbook">guestbook</a>.
            It would mean a lot to me!
        </i>
    {#</body>
</html>#}
{% endblock %}