{% extends "layout.html" %}

{% block content %}
    <div class="row ">
        <form method="post" action="">
            <fieldset>
                <legend>Ajouter un Auteur</legend>

                <label>Nom
                    <input name="nom"  type="text"  size="18" value="{{ auteur.nom | default('aaaa') }}"/>
                </label>
                {% if erreurs.nom.msg  is defined %}
                    <small class="error">{{ erreurs.nom.msg }}</small>
                {% endif %}

                <label>Prénom</label>
                <input name="prenom"  type="text"  size="18" value="{{ auteur.prenom|default('') }}"/>
                {% if erreurs.prenom.msg is defined %}
                <small class="error">{{ erreurs.prenom.msg }}</small>
                {% endif %}

                <input type="submit" name="validerForm" value="valider" />
            </fieldset>
        </form>
    </div>
{% endblock %}