{% extends "layout.html" %}

{% block content %}

    <div class="row">
        <form method="post" action="{{ path('oeuvre_validFormModifierOeuvre') }}">
            <fieldset>
                <legend>Modifier une Oeuvre</legend>
                <label>Titre
                    <input name="titre"  type="text"  size="18" value="{{ donnees.titre }}"/>
                </label>
                {% if erreurs.titre is defined %}
                    <small class="error">{{erreurs.titre}}</small>
                {% endif %}
                <label>date de parution
                    <input name="dateParution"  type="text"  size="18" value="{{ donnees.dateParution }}"/>
                </label>
                {% if erreurs.dateParution is defined %}
                    <small class="error">{{erreurs.dateParution}}</small>
                {% endif %}

                <label>Auteur</label>
                <select name="idAuteur">
                    {% for auteur in donneesAuteur %}
                        <option value="{{ auteur.idAuteur }}"
                                {% if donnees.idAuteur is defined and auteur.idAuteur == donnees.idAuteur %}selected{% endif %}>
                            {{ auteur.nomAuteur }}
                        </option>
                    {% endfor %}
                </select>
                {% if erreurs.idAuteur is defined %}
                    <small class="error">{{erreurs.idAuteur}}</small>
                {% endif %}

                <label>photo
                    <input name="photo"  type="text"  size="18" value="{{ donnees.photo }}"/>
                </label>
                {% if erreurs.photo is defined %}
                    <small class="error">{{erreurs.photo}}</small>
                {% endif %}
                {% if donnees.photo is not empty %}
                    <img style="width:150px;height:200px" src="{{ asset('assets/images/') }}{{ donnees.photo }}" alt="image de {{ donnees.titre }}" >
                {% else %}
                    <img style="width:150px;height:200px" src="{{ asset('assets/images/no_photo.jpeg') }}" alt="pas de photo" >
                {% endif %}

                <input name="noOeuvre"  type="hidden" value="{{ donnees.noOeuvre }}"/>

                <input type="submit" name="UpdateOeuvre" value="Modifier" class="button radius"/>
            </fieldset>
        </form>
    </div>
{% endblock %}