<html>
    <head>
        <title>Guestbook</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <h1>Guestbook</h1>
        <hr>
        <p>
            Welcome to my guestbook. Please leave your comments and
            suggestions here. Anything is appreciated! :-)
        </p>
        <hr>
        <form method="POST" action="/guestbook/send">
            <input type="text" name="author" value="Anonymous"
                   placeholder="Author" style="margin-bottom: 1em">
            <br>
            <textarea name="content" placeholder="Message"></textarea>
            <br>
            <input style="margin-top: 1em" type="submit" value="Send">
        </form>
        <hr>
        {% for comment in comments %}
            <figure>
                <blockquote>
                    <p>{{ comment.content }}</p>
                </blockquote>
                <figcaption>—{{ comment.author }} <a href="/guestbook/delete/{{ comment.id }}">delete</a></figcaption>
            </figure>
        {% else %}
            <div>
                <i>No comments :-(</i>
            </div>
        {% endfor %}
        <hr>
        <a href="/"><< Go back</a>
    </body>
</html>
